.slogan {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 3px solid #1e1ef3;
    color: #1e1ef3;
    font-size: 2.5rem;
    font-weight: bold;
}

.item {
    padding: 10px;
    background-color: #2858db;
    color: #fff;
}

/* 
vw:
直接抓取畫面寬度，沒有階層概念
只能用在第一層，否則容易破版
*/

.vw-10 {
    width: 10vw;
}

.vw-20 {
    width: 20vw;
}

.vw-30 {
    width: 30vw;
}

.vw-40 {
    width: 40vw;
}

.vw-50 {
    width: 50vw;
}

.vw-60 {
    width: 60vw;
}

.vw-70 {
    width: 70vw;
}

.vw-80 {
    width: 80vw;
}

.vw-90 {
    width: 90vw;
}

.vw-100 {
    width: 100vw;
}

.t1 {
    width: 500px;
}

.t2 {
    width: 50%;
}
