.slogan {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 3px solid #1e1ef3;
    color: #1e1ef3;
    font-size: 2.5rem;
    font-weight: bold;
}

.media {
    width: 200px;
    height: 200px;
    background: red;
}

.media-item {
    opacity: 0.5;
    max-width: 100%;
    height: auto;
}
