.hello::before {
    content: "David";
}

.hello::after {
    content: "!!!!!!";
}

.article::first-letter {
    font-size: 30px;
    background: #000;
    color: #fff;
    padding: 10px;
}

/* .article:hover::first-letter {
    padding: 10px;
    background-color: #000;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
} */

.article::selection {
    background: #e08918;
    color: #fff;
}

/* body::selection {
    background: #e08918;
    color: #fff;
} */

.article {
    color: #2926df !important;
}

.container .yellow {
    font-weight: 700;
    color: yellow;
}

/*
!important 強制為最高權重的樣式
同階級的選擇器中，以!important的樣式為主，樣式不會受到css順序影響。

父層與子層透過!important強制改變樣式權重沒有意義。
但父層及子層的繼承特性，會受!important影響而被覆蓋。
(繼承特性的權重最低)

*過度使用會導致css難以維護 (影響自然層疊順序)
*僅在必要時使用，如覆蓋第三方樣式
 */
