.hello::before {
    content: "David";
}

.hello::after {
    content: "!!!!!!";
}

.article::first-letter {
    font-size: 30px;
    background: #000;
    color: #fff;
    padding: 10px;
}

/* .article:hover::first-letter {
    padding: 10px;
    background-color: #000;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
} */

.article::selection {
    background: #e08918;
    color: #fff;
}

/* body::selection {
    background: #e08918;
    color: #fff;
} */

.article {
    color: #2926df !important;
}

.container .yellow {
    font-weight: 700;
    color: yellow;
}
