@import "reset";

.header {
    position: absolute;
    top: 0;
    left: 0;
    height: $header-height;
    width: 100%;
    color: $header-color;
    font-size: $header-font-size;
    font-weight: $header-font-weight;
    z-index: 99;

    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        height: 100%;
        position: relative;

        .logo {
            font-size: 1.5rem;

            a {
                display: inline-block;
            }
        }

        .menu {
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;

                li {
                    a {
                        padding: 10px 15px;
                        border-radius: 5px;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            background-color: #fff;
                            color: #000;
                        }
                    }
                    &.active {
                        a {
                            background-color: #facc15;
                            color: #000;

                            &:hover {
                                background-color: #ffe169;
                            }
                        }
                    }
                }
            }
        }

        .hamburger {
            display: none;
            width: $header-height;
            // height: $header-height;
            // display: grid;
            grid-auto-columns: 1fr;
            gap: 8px;
            align-items: center;
            padding: 15px;
            cursor: pointer;

            > span {
                width: 100%;
                height: 3px;
                background-color: $header-color;
                border-radius: $header-height;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

.main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #667eea, #764ba2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000, $alpha: 0.39);
    }

    .wrap {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .slogan {
            font-size: 2rem;
        }

        .sub-slogan {
            margin: 0 auto;
            width: 70%;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 2;
            text-align: center;
        }

        .btn-group {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;

            .btn {
                padding: 15px 30px;
                outline: 0;
                border: 0;
                border-radius: 5px;
                background-color: #facc15;
                color: #000;
                font-size: 1.1rem;
                font-weight: 600;
                text-align: center;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                width: 100%;

                &:hover {
                    background-color: #ceb038;
                    color: #000;
                }

                &.border {
                    background-color: transparent;
                    border: 1px solid #fff;
                    color: #fff;

                    &:hover {
                        background-color: #fff;
                        color: #000;
                    }
                }

                &.danger {
                    background-color: #fa5615;
                    color: #fff;
                    &:hover {
                        background-color: #bd400f;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.info {
    padding: 100px 0;
    background-color: #ffffff;

    .slogan {
        margin-bottom: 30px;
        font-size: 2rem;
        text-align: center;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        > div {
            padding: 20px;
            background-color: #f9fafb;
            border-radius: 5px;
            box-shadow: 3px 3px 6px 0 rgba($color: #000, $alpha: 0.1);
        }

        h3 {
            margin-bottom: 10px;
            font-size: 1.3rem;
            color: #2c1cbb;
            text-align: center;
        }

        p {
            text-align: center;
            line-height: 30px;
        }
    }
}

.footer {
    padding: 20px 0;
    background-color: #1f2937;

    .copyright {
        font-size: 1rem;
        color: #fff;
        text-align: center;
    }
}

@import "layout-hero-responsive";
