.box {
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 300px;
    border: 10px solid #000;
    background-color: red;
    color: white;
    display: inline-block;
}

.package {
    padding: 5px;
    width: 600px;
    background-color: blue;
}

.package > .box {
    margin: 0;
    width: 288px;
}

/* 大屬性及小屬性 */
.all-padding {
    padding: 30px;
    /* padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px; */
}

.two-padding {
    padding: 30px 20px;
    /* padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px; */
}

.four-padding {
    padding: 10px 20px 30px 40px;
    /* padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px; */
}

/** 先寫大屬性，再寫小屬性 */
.great-padding {
    padding: 30px;
    padding-bottom: 10px;
}

/** 先寫小屬性，再寫大屬性，小屬性會被覆蓋 */
.bad-padding {
    padding-bottom: 10px;
    padding: 30px;
}
